# Mengabaikan Virtual Environment
env/
triago_env/
venv/

# Mengabaikan Cache Python
**/__pycache__/
*.pyc
# *.csv
*.json

# Mengabaikan file log data pasien sementara
*.log

# Mengabaikan dataset BIDMC lokal
/draft_filter/bidmc/
