# Mengabaikan Virtual Environment
env/
triago_env/
venv/

# Mengabaikan Cache Python
**/__pycache__/
*.pyc
*.csv

# Mengabaikan file log data pasien sementara
*.log

# abaikan dataset rr
/draft_filter/bidmc/